# Data Preprocessing & Cleaning Notebook

In [1]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
# Load dataset
data_path = './data/processed/merged_data.csv'
df = pd.read_csv(data_path)

# 1. Initial Inspection
print("Initial data overview:")
print(df.info())
print(df.describe())

Initial data overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111455 entries, 0 to 111454
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Area Code (M49)  100581 non-null  object
 1   Area             111455 non-null  object
 2   Item Code (CPC)  100581 non-null  object
 3   Item             100581 non-null  object
 4   Year             111455 non-null  int64
 5   yield(tonnes)    100581 non-null  float64
 6   Note             1610 non-null    object
 7   pestUse(kg/ha)   36705 non-null   float64
 8   tempChange(C)    103418 non-null  float64
 9   population       72771 non-null   float64
 10  rainfall         63111 non-null   float64
 11  agland           70425 non-null   float64
dtypes: float64(6), int64(1), object(5)
memory usage: 10.2+ MB
None
                Year  yield(tonnes)  pestUse(kg/ha)  tempChange(C)  \
count  111455.000000   1.005810e+05    3.670500e+04  103418.000000
mean     1992.438948   3.385321e+06    5.528819e+09       1.739059
std        18.021868   2.132379e+07    2.780768e+11       1.170740
min      1960.000000   0.000000e+00    2.908368e+01      -1.751750
25%      1977.000000   2.120100e+03    1.773185e+03       0.888417
50%      1993.000000   1.467000e+04    2.350479e+03       1.537250
75%      2008.000000   2.536860e+05    2.805681e+03       2.336417
max      2024.000000   8.084416e+08    3.969278e+13      10.836333

         population      rainfall        agland
count  7.277100e+04  63111.000000  7.042500e+04
mean   1.308576e+08   1113.741711  1.122492e+06
std    6.521652e+08    783.607644  5.289162e+06
min    2.646000e+03     18.100000  3.000000e+00
25%    2.777689e+06    536.000000  1.653700e+04
50%    8.245627e+06   1010.000000  8.650000e+04
75%    2.701491e+07   1604.000000  3.532000e+05
max    8.024997e+09   3240.000000  4.867794e+07

In [3]:
# 2. Handle Missing Values
# Define a threshold for dropping columns with excessive missing values
threshold = 0.3 * len(df)
df.dropna(thresh=threshold, axis=1, inplace=True)

In [4]:
# For remaining columns, fill missing values with appropriate strategies
df['pestUse(kg/ha)'].fillna(0, inplace=True)  # Assuming 0 where no pesticide use recorded
df['tempChange(C)'].fillna(df['tempChange(C)'].mean(), inplace=True)  # Fill with mean temperature change
df.dropna(subset=['yield(tonnes)', 'population', 'rainfall', 'agland'], inplace=True)  # Drop if critical fields missing

/tmp/ipykernel_480/3299043419.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['pestUse(kg/ha)'].fillna(0, inplace=True)  # Assuming 0 where no pesticide use recorded
/tmp/ipykernel_480/3299043419.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['tempChange(C)'].fillna(df['tempChange(C)'].mean(), inplace=True)  # Fill with mean temperature change

In [5]:
# 3. Convert Data Types
# Convert necessary columns to appropriate data types
df['Year'] = pd.to_datetime(df['Year'], format='%Y')
df['Area Code (M49)'] = pd.to_numeric(df['Area Code (M49)'], errors='coerce').fillna(0).astype(int)
df['Item Code (CPC)'] = pd.to_numeric(df['Item Code (CPC)'], errors='coerce').fillna(0).astype(int)

In [6]:
df

,Area Code (M49),Area,Item Code (CPC),Item,Year,yield(tonnes),pestUse(kg/ha),tempChange(C),population,rainfall,agland
1,0,Afghanistan,0,Potatoes,1961-01-01,15000.0,0.000000,1.655833,8790140.0,327.0,377500.0
2,0,Afghanistan,0,Potatoes,1961-01-01,8666.7,0.000000,1.655833,8790140.0,327.0,377500.0
3,0,Afghanistan,0,Potatoes,1961-01-01,130000.0,0.000000,1.655833,8790140.0,327.0,377500.0
4,0,Afghanistan,0,Wheat,1961-01-01,2230000.0,0.000000,1.655833,8790140.0,327.0,377500.0
5,0,Afghanistan,0,Wheat,1961-01-01,1022.0,0.000000,1.655833,8790140.0,327.0,377500.0
...,...,...,...,...,...,...,...,...,...,...,...
111415,0,Zimbabwe,0,Sorghum,2021-01-01,697.2,153022.097291,1.210167,15993524.0,657.0,162000.0
111416,0,Zimbabwe,0,Sorghum,2021-01-01,128907.0,153022.097291,1.210167,15993524.0,657.0,162000.0
111417,0,Zimbabwe,0,Wheat,2021-01-01,66434.0,153022.097291,1.210167,15993524.0,657.0,162000.0
111418,0,Zimbabwe,0,Wheat,2021-01-01,5075.9,153022.097291,1.210167,15993524.0,657.0,162000.0
111419,0,Zimbabwe,0,Wheat,2021-01-01,337212.0,153022.097291,1.210167,15993524.0,657.0,162000.0

In [7]:
# 4. Remove Duplicates
# Remove duplicate rows to avoid skewed results
df.drop_duplicates(inplace=True)

In [8]:
df

,Area Code (M49),Area,Item Code (CPC),Item,Year,yield(tonnes),pestUse(kg/ha),tempChange(C),population,rainfall,agland
1,0,Afghanistan,0,Potatoes,1961-01-01,15000.0,0.000000,1.655833,8790140.0,327.0,377500.0
2,0,Afghanistan,0,Potatoes,1961-01-01,8666.7,0.000000,1.655833,8790140.0,327.0,377500.0
3,0,Afghanistan,0,Potatoes,1961-01-01,130000.0,0.000000,1.655833,8790140.0,327.0,377500.0
4,0,Afghanistan,0,Wheat,1961-01-01,2230000.0,0.000000,1.655833,8790140.0,327.0,377500.0
5,0,Afghanistan,0,Wheat,1961-01-01,1022.0,0.000000,1.655833,8790140.0,327.0,377500.0
...,...,...,...,...,...,...,...,...,...,...,...
111415,0,Zimbabwe,0,Sorghum,2021-01-01,697.2,153022.097291,1.210167,15993524.0,657.0,162000.0
111416,0,Zimbabwe,0,Sorghum,2021-01-01,128907.0,153022.097291,1.210167,15993524.0,657.0,162000.0
111417,0,Zimbabwe,0,Wheat,2021-01-01,66434.0,153022.097291,1.210167,15993524.0,657.0,162000.0
111418,0,Zimbabwe,0,Wheat,2021-01-01,5075.9,153022.097291,1.210167,15993524.0,657.0,162000.0
111419,0,Zimbabwe,0,Wheat,2021-01-01,337212.0,153022.097291,1.210167,15993524.0,657.0,162000.0

In [9]:
# 5. Scaling and Normalization
# Apply Standard Scaling for columns with large ranges
scaler = StandardScaler()
df[['population', 'yield(tonnes)', 'rainfall', 'agland']] = scaler.fit_transform(
    df[['population', 'yield(tonnes)', 'rainfall', 'agland']]
)

In [10]:
# Save the cleaned data
df.to_csv('./data/processed/cleaned_data.csv', index=False)
print("Data cleaned and saved to './data/processed/cleaned_data.csv'")

Data cleaned and saved to './data/processed/cleaned_data.csv'